body, html {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-grow: 1;
    background-color:  #3d2b82 ;
    justify-content: center;
    align-content: center;
    
}

.score-container {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}

.ui-container {
    background-color: #62bf99;
    margin: 36px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: column wrap;
    padding: 10px;
    width: 70%;
    border-radius: 15px;
    border: solid black 10px;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
    column-gap: 30px;
    padding: 10px;
    border: solid 7.5px black;
    border-radius: 5px;
    background-color: 
    #303030
    ;
}


.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 10px;
    color: white;
}

.button-container:hover {
    transform: scale(1.25);
}

.decision-wrapper {
    display: flex;
    justify-content: center;
    column-gap: 10vh;
    padding: 30px;
    margin-bottom: 50px;
    border: solid black 5px;
    background-color: #303030;
    width: 440px;
}

.player-decision,
.computer-decision {
    display: flex;
    align-items: center;
    flex-flow: column;
    font-size: 24px;
    gap: 5px;
    color: white;

}

p {
    font-weight: 500;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 100px;
    height: 100px;
}
/* 
button:hover {
    transform: scale(1.2);
} */

.title {
    font-weight: 500;
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
}

.score {
    font-size: 32px;
    font-family: 'Courier New';
}